// ==========================
// Стили для заголовка
// ==========================
header {
    background-color: #a1cbf8; // Цвет фона заголовка
    color: #fff; // Цвет текста заголовка
    padding: 15px 20px; // Отступы внутри заголовка
    text-align: center; // Центрирование текста
    font-size: 1.5rem; // Размер шрифта заголовка
  }